<div class="footer-dark bg-dark text-light">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services <a href="/upload" class="text-decoration-none text-reset"><i class="fas fa-upload" style="cursor:default;" ></i></a></h3>
                        <ul>
                            <li><a href="/"><i class="fas fa-caret-right"></i> Home</a></li><br>
                            <li><a href="/spare"><i class="fas fa-caret-right"></i> Products</a></li><br>
                            <li><a href="/enquiry"><i class="fas fa-caret-right"></i> Query</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Company</a></li><br>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Team</a></li><br>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Laxmi gaytri masala</h3>
                        <p>Laxmi gaytri masala is an Indian spice shop with base in the main spice growing area in India. </p>
                    </div>
                    <div class="col item social">
                    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-snapchat"></i></a>
                    <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">Laxmi gaytri masala © 2021</p>
            </div>
           
             <a href="#"><p class="float-end me-5 mb-2 text-decoration-none text-light"><i class="fas fa-arrow-alt-circle-up"></i> Back to top</p></a>
        </footer>
    </div>
	<style>
    .footer{
        margin-top: auto;
    }
    
 
    </style>