<div class="footer-dark bg-dark text-light">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Spare parts</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Sparekart</h3>
                        <p>Sparekart is a wellknown automobile spare parts seller with guaranteed genuine products</p>
                    </div>
                    <div class="col item social">
                    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-snapchat"></i></a>
                    <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">Sparekart © 2021</p>
            </div>
             <a href="#"><p class="float-end me-5 mb-2 text-decoration-none text-light"><i class="fas fa-arrow-alt-circle-up"></i> Back to top</p></a>
        </footer>
    </div>
	