<div class=" article mx-5">
    <h1 class="text-center my-5"><u>Cancellation Policy</u></h1>
    <p>You as a customer can cancel your order anytime up to the cut-off time of the slot for which you have placed an order by calling our customer service. In such a case we will refund and reverse any payments already made by you.</p>
    <p>
        FREE SHIPPING OFFER:

Shipping fee is applicable on All orders of value below Rs 499/- delivered to Any destination within India.

    </p>
</div>
