<section class="py-6 bg-gray-100 article">
    <div class=" my-5 mx-5">
        <h1 class="mb-5">Enquiry form<hr></h1>
        <div class="row">
            <div class="col-md-7 mb-5 mb-md-0">
                <form action="/enquiry"  method="POST" ">
                    <div class="controls">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <label class="form-label" for="efname">Your firstname *</label>
                                    <input class="form-control formround"  type="text" name="efname" id="efname"
                                        placeholder="Enter your firstname" required="required">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <label class="form-label" for="elname">Your lastname *</label>
                                    <input class="form-control formround" type="text" name="elname" id="elname"
                                        placeholder="Enter your lastname" required="required">
                                </div>
                            </div>
                        </div>
                         <div class="mb-4">
                            <label class="form-label" for="ephone">Your Phone number *</label>
                            <input class="form-control formround" type="text" name="ephone" id="ephone"
                                placeholder="Enter your contact number" required="required">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="eemail">Your email *</label>
                            <input class="form-control formround" type="email" name="eemail" id="eemail"
                                placeholder="Enter your  email" required="required">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="emessage">Your message for us *</label>
                            <textarea class="form-control formround" rows="5" name="emessage" id="emessage"
                                placeholder="Enter your message" required="required"></textarea>
                        </div>
                        <button class="btn btn-outline-primary " type="submit" value="Enquiry form">Send message</button>
                    </div>
                </form>
                <h1 class="text-muted my-3">Our team will contact you shortly!</h1>
            </div>
            <div class="col-md-5">
                <h2 class="text-danger">Our Shop <span class="text-muted" >location</span><hr></h2>
                <div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=24.7043881,%2072.6847949&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/elementor/"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:450px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:450px;}</style></div></div>
            </div>
        </div>
    </div>
</section>

<script>
    var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?60670';
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = url;
    var options = {
  "enabled":true,
  "chatButtonSetting":{
      "backgroundColor":"#4dc247",
      "ctaText":"Say Hi on <br>WhatsApp",
      "borderRadius":"25",
      "marginLeft":"0",
      "marginBottom":"50",
      "marginRight":"50",
      "position":"right"
  },
  "brandSetting":{
      "brandName":"Laxmi Gaytri Masala",
      "brandSubTitle":"Typically replies within a day",
      "brandImg":"https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
      "welcomeText":"Hi there!\nHow can I help you?",
      "messageText":"{{page_link}}{{page_title}}Hello, I have a question about ...",
      "backgroundColor":"#0a5f54",
      "ctaText":"Start Chat",
      "borderRadius":"25",
      "autoShow":false,
      "phoneNumber":"919352360840"
  }
};
    s.onload = function() {
        CreateWhatsappChatWidget(options);
    };
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
</script>
<style>
    .formround{
        border-radius: 2rem;
        background-color: rgb(205, 224, 228);
    }
</style>