<div id="carouselExampleCaptions" class="carousel slide article" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/pic11.png" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-none d-md-block">
        <h5>Masala Product</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/masalabanner3.png" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-none d-md-block">
        <h5>Masala Product</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/masalabanner2.png" class="d-block w-100 img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Masala Product</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="">
  <div class="row g-5 mx-5 mt-2 mb-5">
    <div class="col-md-8">
      <h1 class="pb-4 mt-4 mb-4 text-danger border-bottom" id="about1">
        Welcome to Laxmi-Gaytri Masala Online Store
      </h1>



      <p class="align-left">Laxmi-gaytri masala is an Indian online spice shop with base in the main spice growing area
        in India. Laxmi-gaytri masala is an initiative to share and sustain the passion for spices and masala.
        Laxmi-Gaytri masala selects the finest of the spices from the farms where growing spices is a tradition and a
        faith. Our commitment to quality and intimacy with purity roots deep into the spirit of Indian spices.
        Laxmi-Gaytri masala strive to spread the pleasure of Indian spices throughout the modern world. Established on
        14 December, 2009, by Mr. Kanhaiyalal ji Purohit, Now Bhagwati Food Products has become a symbol of quality
        and commitment.<br><strong>हमारे माल में किसी भी प्रकार का color, chemical या essence का उपयोग नहीं होता...</strong></p>
      <hr>
      <p>
      <h3 class="text-muted">Our Vision</h3>
      Our mantra is शुद्ध खाहो स्वस्थ रहो यही मंत्र है हमारा....<br>
      Our vision is to offer great tasting and pure masala products at reasonable prices that will help masala achieve
      the same sacred superfood status which it has enjoyed in the Indian tradition.</p>
      <hr>
      <p>
      <h3 class="text-muted">OUR SPECIALTIES</h3>
      <ol>
        <li>Option to choose Payment via Internet banking, debit card, credit card, UPI Payment.</li>
        <li>Low price and High Quality</li>
        <li>Timely delivery.</li>
        <li>High-quality authentic spice.</li>
        <li>Spices from its place of origin.</li>
        <li>Fresh and authentic.</li>
      </ol>
      We accept almost any electronic payment method. We pack the products in food grade bags or jars and ship using
      your preferred courier within a couple of days of receiving your order. So, if you are looking to buy spices
      online, why not give us a try?
      </p>


    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem; margin-top: 80px;">

        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-dark rounded text-secondary">
            <h3 class="fst-italic fw-bold">Our Categories </h3>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Masala</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Dhaniya</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Mirch</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Buttermilk masala</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Papad</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Haldi</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Aachaar</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Jeera</a>
          <a href="#" class="list-group-item list-group-item-action bg-light text-secondary">Azwain</a>          

        </div>
      </div>
    </div>
  </div>
</div>
<hr class=" mb-3">

<div class="po-left-icon" style="background-color: #f9fcf7">
    <div class="container">
      <div class="row">
            <div class="col-sm-12 col-lg-4 col-xs-12">
                <div class="po-warp">
                    <div class="po-icon">
                        <img src="/images/shippingcart.png" alt="shippingcart">
                    </div>
                    <div class="po-text">
                        <h5>Free Shipping</h5>
                        <p>U Can Avail Free Shipping on order above 499/-</p>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-12 col-lg-4 col-xs-12">
                <div class="po-warp">
                    <div class="po-icon">
                        <img src="/images/shippingtruck.png" alt="Shipping truck">
                    </div>
                    <div class="po-text">
                        <h5>Fast Delivery</h5>
                        <p>Same Day Dispatch or As soon as possible by us</p>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-12 col-lg-4 col-xs-12">
                <div class="po-warp">
                    <div class="po-icon">
                        <img src="/images/securityimg.png" alt="secured payment">
                    </div>
                    <div class="po-text">
                        <h5>100% Secured Payment</h5>
                        <p>We Use Secured Payment Gateway Of Razorpay</p>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>

<div class="text-center bg-danger text-light align-middle my-4 py-5 ">
  <h2>************ A Pinch of Goodness *************
    <hr>
  </h2>
  <p class="mx-5">Hand-picked, freshly-ground and rich in flavour – our authentic Indian spices lend a traditional taste
    to your meal. Be it a brewing cup of tea or delectable dinner - Laxmi-Gaytri Masala adds flavour, texture and zest
    to all your recipes. Not much, just a pinch is enough!
    The story of Indian spices is more than 7000 years old. Being the soul of global cuisine, Indian spices have been
    used across the world for permeating flavours in nuanced palates. But apart from enhancing flavour and savour of the
    food, these spices are a treasure of health and medicinal benefits. Each spice and condiment is the powerhouse of
    specific medicinal value. </p>
</div>


<div class=" mx-2 px-3">
<!-- START THE FEATURETTES -->

<hr class="featurette-divider mb-4">


<div class="row featurette ">
  <div class="col-md-7 hero1">
    <h1 class="featurette-heading text-danger">The Purest <span class="text-muted">indian spices</span>
      <hr>
    </h1>
    <p class="lead">The Purest Indian Spices Indian spices are savoured and sought. We aim to offer authentic Indian spices
      and recreate the gourmet magic in every kitchen with their irresistible flavours and distinctive aromas. Made with
      the finest and purest ingredients, our spices and condiments lend traditional taste to your meals. Our customers
      love us because of the quality we provide them!</p>
  </div>
  <div class="col-md-5 hero2">
    <img class=" featurette-image img-fluid rounded"
      src="https://www.awesomecuisine.com/wp-content/uploads/2019/03/Biryani-Masala-Powder.jpg" width="600" height="600"
      />
  </div>
</div>

<hr class="featurette-divider my-4">

<div class="row featurette" >
  <div class="col-md-5 hero2">
    <img class="rounded featurette-image img-fluid"
      src="/images/masalapic5.jpg"
      width="600" height="600" />
  </div>
  <div class="col-md-7 hero1">
    <h1 class="featurette-heading ">Defination of <span class="text-muted"> purity for us</span>
      <hr>
    </h1>
    <p class="lead">Purity defines good-quality, Hygiene and Freshness.But for us, it is much more than that! Pure is
      our mother’s love and so are our spices! We offers a variety of exotic spices that are as pure as the
      mother’s love. They permeate the flavours and enhance the aroma of your meals.</p>
  </div>
  
</div>

<hr class="featurette-divider my-4">

<div class="row featurette">
  <div class="col-md-7 hero1">
    <h1 class="featurette-heading"><span class="text-danger">Our </span><span class="text-muted">Aim</span><hr></h1>
    
    <p class="lead">The aim of Laxmi Gaytri Masala has always been helping every mother feel empowered to get the
      perfect taste in food and win her appreciation for the same. In other words, it's a friend of every mother to give
      her that ultimate satisfaction of the family loving and enjoying her food.</p>
  </div>
  <div class="col-md-5 hero2">
    <img class="rounded featurette-image img-fluid "
      src="https://static.toiimg.com/thumb/78893467.cms?width=680&height=512&imgsize=377149" width="600" height="600"
      />
  </div>
</div>
<hr class="featurette-divider my-5">
<!-- /END THE FEATURETTES -->
</div>


<div class="container ">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle center"
        src="https://www.homestratosphere.com/wp-content/uploads/2019/04/Different-types-of-spices-of-the-table-apr18.jpg"
        width="140" height="140" />
      <h2 class="my-3 text-center">RANGE OF SPICES</h2>
      <p class="mx-5">To continue the legacy of incredible taste of India, we offer a galore of authentic Indian spices
        – Basic, Blended, Specialty, Whole and Powder!</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle center"
        src="/images/fssai_logo2.png" width="140" height="140"
        </img>
      <h2 class="my-3 text-center">QUALITY</h2>
      <p class="mx-5">We have fssai certified product.All our products are hand-picked, triple sifted and nicely blended.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle center"
        src="https://image.shutterstock.com/image-vector/export-branding-identity-corporate-vector-260nw-1200300838.jpg"
        width="140" height="140" </img>

      <h2 class="my-3 text-center">EXPORTS</h2>
      <p class="mx-5">To spread our wide range of species, we export our spices to various part of our country.</p>
    </div>
  </div>
</div>
<hr>

<script>
  var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?60670';
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = url;
  var options = {
    "enabled": true,
    "chatButtonSetting": {
      "backgroundColor": "#4dc247",
      "ctaText": "Say Hi on <br> WhatsApp",
      "borderRadius": "25",
      "marginLeft": "0",
      "marginBottom": "42",
      "marginRight": "50",
      "position": "right"
    },
    "brandSetting": {
      "brandName": "Laxmi Gaytri Masala",
      "brandSubTitle": "Typically replies within a day",
      "brandImg": "https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
      "welcomeText": "Hi there!\nHow can I help you?",
      "messageText": "Hello, I have a question about ...",
      "backgroundColor": "#0a5f54",
      "ctaText": "Start Chat",
      "borderRadius": "25",
      "autoShow": false,
      "phoneNumber": "919352360840"
    }
  };
  s.onload = function () {
    CreateWhatsappChatWidget(options);
  };
  var x = document.getElementsByTagName('script')[0];
  x.parentNode.insertBefore(s, x);
</script>

<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .po-left-icon {
    background-color: #f9fcf7;
    padding: 70px 0 40px 0;
}

.po-icon {
  margin-right: 15px;
}

.po-left-icon .po-warp {
    display:flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
@media screen and (max-width: 1000px) {
    .po-left-icon .po-warp {
        flex-direction:column;
        align-items:center;
    }
}
@media screen and (max-width: 1000px) {
    .po-left-icon .po-warp .po-text, .po-left-info .po-content {
        
    }
}

.hero1 {
    background-color: #8d9c79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero2 {
   background-color: #8d9c79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}


@media screen and (max-width: 1000px) {
    .hero1 {
        align-items: end;
        text-align: left;
    }
}


</style>
