<section>
    <p>Forgot to add something to your cart? Shop around then come back to pay! click the below link to visit our
        product page again</p>
    <a class="text-decoration-none text-align-center" href="/spare">Our Product Page</a>
</section>