<div class="article mx-5">
    <h1 class="text-center my-5"><u>Payment Policy</u></h1>
    <p>Laxmi Gaytri Masala offers you multiple payment methods. Whatever your online mode of payment, you can rest assured that Razorpay trusted payment gateway technology to keep your transaction details confidential at all times.

Laxmi Gaytri Masala also accepts payments made using Visa, MasterCard, Maestro and American Express credit/debit cards in India.

</p>
</div>