<div class="article mx-5">
<h1 class="text-center my-5"><u>Privacy Policy</u></h1>
<p>Laxmi gaytri masala recognizes the importance of ensuring the integrity and confidentiality of such personal information. This privacy policy outlines our collection, usage and disclosure of such information. The privacy policy is applicable to all products offered by us on our e-commerce website.</p>

<ul>
    <ol>
        1. We place utmost importance to your privacy and take adequate steps to ensure we only collect information that’s absolutely essential to carry out transactions on our site.
    </ol>
    <ol>
        2. Personally identifiable information collected by us includes name, phone number, email address, credit, etc. and any such information that’s needed to facilitate a purchase, sale and delivery of products offered on our website.
    </ol>
    <ol>
        3. We may use your contact information to send promotional offers based on your purchase history.
    </ol>
    <ol>
        4. If we decide to update this privacy policy, we will post the changes on this page
    </ol>
</ul>
</div>
