<div class="container my-5 mx-5">
    <section>
    <h2> this is razorpay money transaction page</h2>
 <button class="w-100 btn btn-success btn-lg mb-5" type="submit">Continue to Pay</button>
 </section>
  <script >
      axios.post('/order').then((info) => {
          console.log(info)
      })
  </script>
  </div>



