<div class="article mx-5">
    <h1 class="text-center my-5"><u>Shipping Policy</u></h1>
    <p>Laxmi Gaytri Masala will fulfil your order in a timely and efficient manner. However, if the package is returned to us for ANY reason you will still be responsible for the original shipping fees charged to you. If your package is refused or returned to us, we will refund the amount of your order, excluding shipping and handling charges. We do not accept product exchanges. </p>
</div>